body, html {
    margin: 0; /*Elimina cualquier margen predeterminado alrededor del cuerpo y html*/
    padding: 0;/*Elimina cualquier relleno predeterminado.*/
    height: 100%; /*altura*/
    width: 100%;/*ancho*/
    display: flex; /*Establece un contenedor flex para centrar el contenido*/
    justify-content: center; /*Centra el contenido  horizontal*/
    align-items: center; /*Centra el contenido  verticalmente*/
    font-family: Arial, sans-serif; /*fuente de letra*/
    overflow: hidden;/*Oculta cualquier contenido desbordado fuera del área visible.*/
}

.background-image {
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%; /*Hace que la imagen ocupe todo el área con el width*/
    width: 100%;
    background: url('../img/Fondo\ Cine.jpg') no-repeat center center/cover;/*Establece la imagen de fondo, no repitiéndola y centrando el contenido.*/
    filter: blur(3px);/*Desenfoque a la imagen*/
    z-index: -1;/*Envía la imagen al fondo detrás de otros elementos*/
}

.login-container {
    height: 45%;
    width: 20%; /*Ancho*/
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 12px;/*Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);/*Sombra sutil para dar profundidad.*/
    z-index: 1;
    text-align: center; /*Centra el texto*/
}
.login-container a{
    
    align-items: center; /*Alinea los elementos hijos en el eje vertical (centrado verticalmente) dentro del contenedor flex.*/
    gap: 10px;/*Añade un espacio de 10 píxeles entre cada uno de los elementos hijos.*/
    font-size: 45px; /* tamaño */
}
.login-container h2 {
    margin-bottom: 20px;/*Un espacio de 20 píxeles debajo del*/
}

.login-container input {
    width: 80%; /*ancho del input*/
    padding: 10px;/*Añade un relleno interno de 10 píxeles*/
    margin-bottom: 10px;/*margen inferior entre los input*/
    border: 2px solid #ccc; /*ancho del borde y el color*/
    border-radius: 5px; /*borde redondeado*/
}

.login-container button {
    width: 80%; /*Ancho del boton*/
    padding: 10px; /*relleno interno*/
    background-color: #4CAF50;
    color: white; /*color de la letra*/
    border: none; /*sin borde*/
    border-radius: 5px; /*borde redondeado*/
    cursor: pointer; /*el cursor cambia a puntero cuando se pasa dobre el boton*/
}

.login-container button:hover { /*Estilos aplicados cuando el botón está en estado de hover*/
    background-color: #45a049; 
}